@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Source+Sans+Pro&display=swap");
html * {
    box-sizing: border-box;
    color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6,
button,
a {
    color: #0b331f;
    font-family: "Montserrat", sans-serif;
    font-weight: extra-bold;
}
a {
    text-decoration: none;
    font-size: 15px;
}
body {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
}
@media screen and (max-width: 1300px) {
    .hiddenOnMobile {
        display: none;
    }
}
